spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ''
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    liquibase: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.jdbc.bind: TRACE
    org.springframework.security.authentication: DEBUG
